body {
  margin: 0;
  font-family: Arial;
  background: #0f172a;
  color: white;
}

header {
  text-align: center;
  padding: 15px;
  background: #111827;
}

.controls {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 10px;
}

#table {
  display: grid;
  grid-template-columns: repeat(18, 50px);
  gap: 4px;
  justify-content: center;
  padding: 20px;
}

.element {
  background: #1f2937;
  border-radius: 6px;
  padding: 4px;
  text-align: center;
  cursor: pointer;
  font-size: 10px;
}

.element:hover {
  background: #3b82f6;
  transform: scale(1.1);
}

.number {
  font-size: 8px;
}

.symbol {
  font-size: 14px;
  font-weight: bold;
}

/* 彈窗 */
#modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

.modal-box {
  background: #111827;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
}
